.home-page h1 {
  text-align: center;
  font-size: 50px;
}

.home-page a {
  color: white;
}

.home-page a:hover {
  color: lightgray;
}

.home-page {
  color: white;
  font-size: 25px;
  padding-bottom: 200px;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .home-page {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .home-page {
    font-size: 16px;
  }
}
