.row-info {
  font-size: 20px;
  text-align: left;
}

.row-info .preview-logo-img {
  width: 60px;
}

.row-info .season-stats {
  margin-left: 3vw;
}

.row-info .dot-icon,
.row-info .right-align {
  text-align: right;
}

.row-info .center-align {
  text-align: center;
}

.row-info .left-align {
  text-align: left;
}

.row-info .right-margin {
  margin-right: 0.75vw;
}

.row-info .left-margin {
  margin-left: 0.75vw;
}

@media (max-width: 1600px) {
  .row-info .preview-logo-img {
    width: 50px;
  }

  .row-info {
    font-size: 17px;
  }
}

@media (max-width: 1250px) {
  .row-info .preview-logo-img {
    width: 50px;
  }

  .row-info {
    font-size: 14px;
  }
}
